.body{
    margin: 30px;
}
.main{
width:auto;
margin-top: 64px;
}
.heading{
    display:flex;
    justify-content: space-between;
    margin-left: 30px;
    font-size: 22px;
 }

 .main-image{
    margin-right: 30px;

 }

 .product-image{

    width:441.36px ;
    height:441.36px ;
    gap: 5px;
 } 
 .cont-prod{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: 7px;
    margin-left: 30px;
 }
 
 /* Medium devices (tablets) */  
@media only screen and (min-width: 601px) and (max-width: 768px) {  
   body {  
       font-size: 18px; /* Adjust font size for tablets */  
   }  
 
   .container {  
       padding: 20px; /* Adjust padding for tablet */  
   }  
 }  
 
 /* Large devices (desktops) */  
 @media only screen and (min-width: 769px) and (max-width: 1024px) {  
   body {  
       font-size: 20px; /* Larger font size for desktops */  
   }  
 
   .container {  
       padding: 40px; /* More padding for desktops */  
   }  
 }  
 
 /* Extra large devices (large desktops) */  
 @media only screen and (min-width:1025px) {  
   body {  
       font-size: 22px; /* Even larger font size for large desktops */  
   }  
 } 
 